$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$white-5: rgba(255, 255, 255, 0.9);
$white-6: rgba(255, 255, 255, 0.6);
$black-1: #000;
$black-2: #343232;
$grey-1: #777777;
$purple-1: #6e63b3;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #fce07f;
$yellow-5: #ffdf6e;
$brown-1: #b0614c;
$brown-2: #af6c3e;
$brown-3: #c5beb9;
$brown-4: #af6c3e;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$orange-4: #f1bd23;
$blue-1: #399ffe;
$blue-2: #9bdcfc;
$green-1: rgba(18, 171, 15, 1);
$green-2: rgba(168, 207, 56, 0.5);
$green-3: #5ba72b;
$green-4: rgba(91, 167, 43, 0.3);
$shadow-1: rgba(0, 0, 0, 0.25);
$shadow-2: rgba(91, 167, 43, 0.7);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);